body {
    background-color: rgb(156, 156, 230);
}

.QR-landing-page {
    padding: 17px 18px;
    background-color: white;
    margin: 7% 290px
}

.QR-landing-page img {
    text-align: center;
    width: 370px;
    margin: 2px;
}